* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    margin: 0;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.side {
    height: 100svh;
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 95vmin;
    aspect-ratio: 1 / 1.4;
    background-color: #EAE2B7;
    border-radius: 5px;
    box-shadow: 0 2px 5px #333333;
}

.display {
    flex: 5;
    display: flex;
    flex-direction: column;
    color: #EAE2B7;
    background-color: #003049;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.history {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
    font-size: 4vmin;
    padding: 3vmin;
    opacity: 50%;

}

.current {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 4;
    font-size: 7vmin;
    padding: 3vmin;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 10;
    border-radius: 10px;
}

.row {
    flex: 1;
    display: flex;
}

.function, .number, .operation {
    color: #003049;
    flex: 1;
    font-size: 4vmin;
    background: none;
    border: none;

}

.function {
    color: #D62828;
}

.operation {
    background-color: #FCBF49;
}

#equal {
    flex: 1;
    background-color: #F77F00;
}